/*  ! Comments : 
  icons-name:
  <i class="fa-regular fa-lamp-desk"></i>
  <i class="fa-solid fa-flask"></i>
  <i class="fa-light fa-globe-stand"></i>
  <i class="fa-solid fa-print"></i>
  <i class="fa-solid fa-message"></i>
  <i class="fa-regular fa-window"></i>
  <i class="fa-regular fa-tv"></i>
  <i class="fa-brands fa-twitter"></i>
  <i class="fa-brands fa-google-plus-g"></i>
  <i class="fa-light fa-basketball"></i>
  */
/* Start Variables */
:root {
  --color-main: #10cab7;
  --color-secondary: #2c4755;
  --color-background: #fafafa;
  --color-component: #ebeced;
  --main-padding: 15px;
  --main-margin: 30px;
}
/* End Variables */
/* Start Global Rules */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: gray;
}
.container {
  width: 60%;
  margin: auto;
  background-color: red;
}

/* End Global Rules */
